h1{
  color: black;
  font-weight: bolder;
  font-family: 'Yatra One', cursive;
}
.flex-footer{
  display: flex;
  justify-content: space-around;
}
.jumbotron{
  border-radius: 0;
  background-color: grey;
}
.card-header,
.card-footer{
  background-color: white;
  color: black;
}
.repo-number{
  font-size: 25px;
  font-weight:bold;
  font-family: 'Yatra One', cursive;}
#num{
  color: orangered;
}
#rname{

  font-family: 'Yatra One', cursive;
    color: darkcyan;
  font-size: 30px;
}
#rbranch,
#rdesc,
#rlang,
#rforks,
#rwatchers{
  font-size: 17px;
  margin: 5px;
  font-family: 'Yatra One', cursive;
  font-weight: bold;
}
.data{

  font-family: 'Yatra One', cursive;  font-weight: bold;
  color: black;
  font-size: 17px;
}
