h1{
  color: white;
  font-weight: bolder;
}
.flex-footer{
  display: flex;
  justify-content: space-around;
}
.jumbotron{
  border-radius: 0;
  background-color: grey;
}
.card-header,
.card-footer{
  background-color: white;
  color: black;
}
.repo-number{
  font-size: 25px;
  font-weight:bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#num{
  color: orangered;
}
#rname{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkcyan;
  font-size: 30px;
}
#rbranch,
#rdesc,
#rlang,
#rforks,
#rwatchers{
  font-size: 17px;
  margin: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.data{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 17px;
}
