.nav-links{
  position: relative;
  right: -75%;
}
.nav-links li{
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: black;
  padding: 20px;
}
.nav-links li:hover{
  color: white;
  text-decoration: underline;
}
.logotext{
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bolder;
  font-size: 1.85em;
}

