.nav-links{
  position: relative;
  right: -75%;
}
.nav-links li{
  color: black;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: black;
  list-style-type: none;
  font-size: large;
  padding: 10px;
  

}
.nav-links li:hover{
  color: maroon;
  text-decoration: underline;
}
.logotext{
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bolder;
  font-size: 30px;
}

