.nav-links{
  position: relative;
  left: 55%;
}
.nav-links li{
  color: black;
  font-weight: bolder;

  font-family: 'Yatra One', cursive;
  border-color: black;
  list-style-type: none;
  font-size: large;
  padding: 20px;
  
  

}
.nav-links li:hover{
  color: maroon;
  text-decoration: underline;
}
.logotext{
  /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-weight: bolder;
  font-size: 30px;
  color: maroon;
}

img {
  width: 100px;
  height: 80;
}

